[Desktop Entry]
Type=Application
Name=immich desktop
GenericName=Photo library
Comment=Unofficial Immich desktop client
Exec=immich
Icon=immich-desktop
Terminal=false
Categories=Graphics;Photography;Qt;
Keywords=immich;photos;videos;gallery;self-hosted;
StartupWMClass=immich
X-GNOME-UsesNotifications=true
